
.log {
	background: #ffc;
	max-height: 10rem;
	overflow-y: scroll;
	overscroll-behavior-y: contain;

	.jamstik > & {
		max-height: 40rem;
	}

	header {
		background: #ffc;
		padding-right: 1rem;
	}

	.messages {
		scroll-snap-align: end;
	}
}

.log-entry {
	padding: 0;
	margin: 0;

	&:last-child {
		scroll-snap-align: end;
	}

	&.error {
		border: 1px solid red;
		border-radius: .3em;
		color: red;
	}

	.timestamp {
		padding-right: 1rem;

		&::after {
			content: ":";
		}

	}
}


.service {
	display: inline-block;

	&.jamstik {
		display: block;
	}
}


/*
.visualizer {
	width: 100%;
}
*/